<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send your friends anonymous messages | Anonymous messages</title>
    <link rel="stylesheet" href="./css/general.css">
</head>
<body>
    <!-- Welcome to Anon-msg [time] -->
    <require src="./components/navbar" >
    <main>
        <div class="center">
            <div class="label">Anon-Message</div>
            <ul>
                <li>Enter your Name, Create Secret Message link and Share with your friends on Whatsapp, Facebook.</li>
                <li>Get unknown feedback from your friends, co-workers and the fams get to learn what they think about you.</li>
                <li>Messages recieved are displayed in the DashBoard.</li>
            </ul>
            <form class="center-elements" action="/" method="POST">
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <p><input type="checkbox" name="agree" id="agree"> I agree to <a href="#" style="color: dodgerblue">Terms and condition of website.</a></p>
                <button type="submit" class="btn-sub">Create your Link</button>
            </form>
        </div>
    </main>

    <require src="./components/footer" hidden="hidden">
    <script>
        window.addEventListener("DOMContentLoaded", runApp);

        function runApp() {
            const form = document.querySelector("form");
            form.addEventListener("submit", e => {
                e.preventDefault();
                const textInp = document.getElementById("name");
                const chkBox = document.getElementById("agree");

                if(!chkBox.checked) {
                    alert("Please read and accept the terms and conditions.");
                    return;
                }

                fetch("/", {
                    method: "POST",
                    body: JSON.stringify({
                        username: textInp.value
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(res => res.json())
                .then(data => {
                    if(data.success) window.location.assign("/dashboard");
                })
                .catch(err => console.log(err));
            });
        }
    </script>
</body>
</html>