<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message to [name] | Anonymous messages</title>
    <link rel="stylesheet" href="./css/general.css">
</head>
<body>
    <!-- Welcome to Anon-msg [time] -->
    <nav><span>🔐</span>Anon-Message</nav>

    <main>
        <div class="center">
            <div class="label">Anon-Message</div>
            <form class="addMessageForm" action="/add" method="post">
                <textarea name="message" id="message" placeholder="Tell [name] what you think about him"></textarea> <br>
                <button type="submit" id="submit">Send</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2021 Spiff Green</p>
        <p><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></p>
    </footer>
</body>
</html>